# SonarQube DB Password
SONAR_DB_PASSWORD=sonar_db_password_here

# Postgres Master Password
DB_PASSWORD=postgres_db_password_here

# DefectDojo DB Password
DOJO_DB_PASSWORD=dojo_db_password_here

# DefectDojo Secret Key (Generate a random string)
DD_SECRET_KEY=defectdojo_secret_key_here

# NVD API Key (From user request)
NVD_API_KEY=nvd_api_key_here
